aiohttp>=3.6.1,<4.0
aresponses
async-timeout==4.0.2
black==22.10.0
codespell==v2.1.0
flake8==4.0.1
flake8-comprehensions==3.10.0
flake8-docstrings==1.6.0
flake8-noqa==1.2.9
isort==5.10.1
mccabe==0.6.1
pre-commit==2.20.0
pycodestyle==2.9.1
pydocstyle==6.1.1
pyflakes==2.4.0
pytest==7.2.0
pytest-asyncio
